{% extends "registration/base_generic.html" %}

{% block content %}

<h2>Új jelszó megadása</h2>
<form method="POST" spellcheck="false">
    {% csrf_token %}
    {% if validlink %}
        <label for="jelszoinput1">Jelszó</label>    
        <input type="password" name="new_password1" required id="jelszoinput1">

        <label for="jelszoinput2">Jelszó még egyszer</label>    
        <input type="password" name="new_password2" required id="jelszoinput2">

        <button type="submit">Jelszó megváltoztatása</button>
    {% else %}
        <h2>Sikertelen jelszóbeállítás</h2>
        <p>
            A jelszót helyreállító link érvénytelen, valószínűleg már felhasználták. 
        </p>
        <a href="{% url 'password_reset' %}">Új jelszó igénylése.</a>
    {% endif %}
</form>

{% endblock %}



