<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Játékok</title>
</head>
<body>

    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Kijelentkezés</button>
    </form>
    <a href="{% url 'index' %}">Vissza a főoldalra</a>


    {% for jatek in jatekok %}

    <form action="join/"  method="POST">
        {% csrf_token %}
        <h1>{{ jatek.nev }}</h1>
        <div id="creator"> {{ jatek.egyik}} </div>
        <input type="hidden" name="jatekid" value="{{ jatek.id }}">
        <button type="submit">Join</button>
    </form>

    {% endfor %}
</body>
</html>