{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/css/ujjatek.css' %}">
    <title>Új játék</title>
</head>
<body>
    <h1>Új játék</h1>
<form action="letrehoz/" method="post">
    {% csrf_token %}
    <div>
        <p>Név:</p>
        <input type="text" name="nev" id="nev">
    </div>
    <div>
        <button type="submit">Indítás</button>
    </div>
</form>
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Kijelentkezés</button>
    <a href="{% url 'index' %}">Vissza a főoldalra</a>

</form>
</body>
</html>